body, html{
  width:100vw;
  height:100vh;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid green;
  border-radius:10px;
  position:absolute;
  animation-name: sway;
  animation-duration: 3s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}
@keyframes sway {
  0% {transform: translate(30px, 5px)}
  50% {transform: translate(10px, 35px)}
  1000% {transform: translate(20px, 10px)}
}

.blinky {
  animation-name: seizure;
  animation-duration: .5s;
  animation-direction: alternate-reverse;
}
@keyframes seizure {
  0% {border-color: white; transform: scale(1,1)}
  100% {border-color: rgb(85, 85, 85); transform: scale(2,2)}
}
.punchy {
  position: absolute;
  border: 20px dotted;

  border-radius: 1em;
  animation-name: punchyJerk;
  animation-duration: 1s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}
@keyframes punchyJerk {
  0% {width: 0px; transform: rotate(20deg);}
  20% {width: 40px; transform: rotate(-40deg);}
  40% {width: 10px; transform: rotate(60deg);}
  60% {width: 70px; transform: rotate(-50deg);}
  80% {width: 50px; transform: rotate(70deg);}
  100% {border-color: red; width: 100px; transform: rotate(-60deg)}
}
.raver {
  width: 50px;
  height: 5px;
  animation-name: spinner;
  animation-duration: .5s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}
@keyframes spinner {
  0% {transform: rotate(360deg)}
  100% {transform: rotate(-360deg);}
}

.container {
  top: 35px;
  left: 10px;
  width: 100vw;
  height: 100vh;
  margin-left: 3%;
  margin-right: 3%;
  z-index: -1;
}

.row{
	width: 100%;
  height: 20%;
}

.danceFloor {
  float: left;
  margin: 3px;
  width: 18%;
  height: 100%;
  border-radius: 1em;
  animation: blink;
  animation-duration: 1.5s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {opacity: 100%}
  100% {background-color: cyan; opacity: 0%}
}